* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #121212;
}

.main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.all-links {
    z-index: 1;
    width: 60%;
    background: url(../img/4048246.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    &::after {
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        backdrop-filter: blur(10px);
        z-index: -1;
    }

    &::before {
        width: 200px;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(18, 18, 18);
        background: linear-gradient(90deg, rgba(18, 18, 18, 1) 0%, rgba(255, 255, 255, 0) 100%);
        z-index: -1;
    }
    &__list {
        overflow-y: scroll;
        height: 100vh;
        width: 100%;
        padding: 100px 0;
        &::-webkit-scrollbar-thumb {
            background-color: #f10374;
            border-radius: 5px;
            
        }
        &::-webkit-scrollbar {
            background-color: #121212;
            width: 12px;
            box-shadow: 0px 0px 5px #ffffff;
        }
    }
    &__item {
        width: 100%;
        text-align: center;
    }
    &__link {
        transition: all 0.5s;
        display: inline-block;
        position: relative;
        text-decoration: none;
        font-size: 40px;
        padding: 20px 60px;
        width: 80%;
        background-color: #121212;
        box-shadow: 3px 3px 10px #f10374;
        border-radius: 20px;
        margin-bottom: 50px;
        color: #ffffff;
        &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            border-top: 3px solid #ffffff;
            border-right: 3px solid #ffffff;
            transform: rotateZ(45deg);
            right: 35px;
            top: calc(50% - 11px);
            transition: all 0.5s;
        }
        &:hover {
            transform: scale(1.05);
            box-shadow: 5px 5px 15px #f10374;
        }
    }
}

.name {
    width: 40%;
    background: url(../img/4048246.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    padding-right: 50px;
    &__text {
        transition: all 0.5s;        
    }
   
    &__title {
        color: #ffffff;
        font-size: 72px;
        text-shadow: 5px 5px 10px #f10374;

    }

    &__subtitle {
        color: #f10374;
        font-size: 44px;
        text-shadow: 5px 5px 10px #ffffff;
        transition: all 0.5s;
    }
    &__link {
        transition: all 0.5s;
        display: inline-block;
        transform: scale(0.2) translateY(-50px);
        color: #ffffff;
        font-size: 44px;
        text-shadow: 5px 5px 10px #f10374;
        opacity: 0;
        &:hover {
            color: #f10374;
            text-shadow: 5px 5px 10px #ffffff;
        }
        
    }
    &:hover {
        & .name__text {
            transform: scale(1.2);
            & > .name__link {
                transform: scale(1) translateY(-52px);
                opacity: 1;
            }
        }
        & .name__subtitle {
            transform: translateX(240px);
        }
    }
}